<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/newfl/static/shb/stylesheet.css"/>

		<title>NewFl / My SHB</title>
	</head>
	<body id="body">

		<div id="header">
			<a href="{% url 'home' %}"><img id="logo" src="https://s3-us-west-1.amazonaws.com/newfl/images/logo.jpg"/></a> 
			<h1 id="title"> My SHB </h1>

		</div>
		<div id="navbar">
			<ul id="nav"> 
				<li class="tab-list"><a href="{% url 'home' %}" class="tab">Home</a></li>
				<li class="tab-list"><a href="{% url 'mySHB' %}" class="tab">MySHB</a></li>
				<li class="tab-list"><a href="{% url 'standings' %}" class="tab">Standings</a></li>
				<li class="tab-list"><a href="/shb/freeagents/points" class="tab">Free Agents</a></li>
				<li class="tab-list" style="float: right"><a href="{% url 'logout' %}" class="tab">Logout</a></li>

			</ul> 

		</div>
		<div id="team-list">
			<table id="shb-table">
				<tr class="shb-header">
					{% if not person.locked %}
						<th colspan=7>My SHB</th>
					{% else %}
						<th colspan=4>My SHB</th>
					{% endif %}
				</tr>
				<tr class="shb-header">
					<th>Position</th>
					<th>Instrument</th>
					<th>Name</th>
					<th>Current Points</th>
					<th>Career Points</th>
					{% if not person.locked %}
						<th></th>
						<th></th>
						<th></th>
					{% endif %}
				</tr>
				{% if team_list %}
					{% for ww in ww_list %}
						<tr>
							<td class="shb-row">Woodwind</td>
							<td class="shb-row">{{ ww.newman_instrument }}</td>
							<td class="shb-row"><a href="/shb/newman/{{ ww.id }}/">{{ ww.newman_name }}</a></td>
							<td class="shb-row">{{ ww.points }}</td>
							<td class="shb-row">{{ ww.career_points }}</td>
							{% if not person.locked %}
								<form method="post" action="/shb/remove/{{ww.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="drop"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								<form method="post" action="/shb/bench/{{ww.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="bench"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								{% if not f_list %}
									<form method="post" action="/shb/flex/{{ww.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="flex"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% else %}
									<td class="empty-button"></td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
					{% for sax in sax_list %}
						<tr>
							<td class="shb-row">Saxophone</td>
							<td class="shb-row">{{ sax.newman_instrument }}</td>
							<td class="shb-row"><a href="/shb/newman/{{ sax.id }}/">{{ sax.newman_name }}</a></td>
							<td class="shb-row">{{ sax.points }}</td>
							<td class="shb-row">{{ sax.career_points }}</td>
							{% if not person.locked %}
								<form method="post" action="/shb/remove/{{sax.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="drop"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								<form method="post" action="/shb/bench/{{sax.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="bench"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								{% if not f_list %}
									<form method="post" action="/shb/flex/{{sax.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="flex"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% else %}
									<td class="empty-button"></td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
					{% for hb in hb_list %}
						<tr>
							<td class="shb-row">Upper Brass</td>
							<td class="shb-row">{{ hb.newman_instrument }}</td>
							<td class="shb-row"><a href="/shb/newman/{{ hb.id }}/">{{ hb.newman_name }}</a></td>
							<td class="shb-row">{{ hb.points }}</td>
							<td class="shb-row">{{ hb.career_points }}</td>
							{% if not person.locked %}
								<form method="post" action="/shb/remove/{{hb.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="drop"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								<form method="post" action="/shb/bench/{{hb.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="bench"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								{% if not f_list %}
									<form method="post" action="/shb/flex/{{hb.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="flex"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% else %}
									<td class="empty-button"></td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
					{% for lb in lb_list %}
						<tr>
							<td class="shb-row">Low Brass</td>
							<td class="shb-row">{{ lb.newman_instrument }}</td>
							<td class="shb-row"><a href="/shb/newman/{{ lb.id }}/">{{ lb.newman_name }}</a></td>
							<td class="shb-row">{{ lb.points }}</td>
							<td class="shb-row">{{ lb.career_points }}</td>
							{% if not person.locked %}
								<form method="post" action="/shb/remove/{{lb.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="drop"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								<form method="post" action="/shb/bench/{{lb.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="bench"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								{% if not f_list %}
									<form method="post" action="/shb/flex/{{lb.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="flex"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% else %}
									<td class="empty-button"></td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
					{% for p in p_list %}
						<tr>
							<td class="shb-row">Perc</td>
							<td class="shb-row">{{ p.newman_instrument }}</td>
							<td class="shb-row"><a href="/shb/newman/{{ p.id }}/">{{ p.newman_name }}</a></td>
							<td class="shb-row">{{ p.points }}</td>
							<td class="shb-row">{{ p.career_points }}</td>
							{% if not person.locked %}
								<form method="post" action="/shb/remove/{{p.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="drop"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								<form method="post" action="/shb/bench/{{p.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="bench"/></td>
									<input type="hidden" name="next" value="{{ next }}" />
								</form>
								{% if not f_list %}
									<form method="post" action="/shb/flex/{{p.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="flex"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% else %}
									<td class="empty-button"></td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
					{% for f in f_list %}
						<tr>
							<td class="shb-row">Flex</td>
							<td class="shb-row">{{ f.newman_instrument }}</td>
							<td class="shb-row"><a href="/shb/newman/{{ f.id }}/">{{ f.newman_name }}</a></td>
							<td class="shb-row">{{ f.points }}</td>
							<td class="shb-row">{{ f.career_points }}</td>
							{% if not person.locked %}
								<form method="post" action="/shb/remove/{{f.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="drop"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								<form method="post" action="/shb/bench/{{f.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="bench"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								{% if f.woodwind and not ww_list %}
									<form method="post" action="/shb/start/{{f.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% elif f.saxophone and not sax_list %}
									<form method="post" action="/shb/start/{{f.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% elif f.highbrass and not hb_list %}
									<form method="post" action="/shb/start/{{f.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% elif f.lowbrass and not lb_list %}
									<form method="post" action="/shb/start/{{f.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% elif f.perc and not p_list %}
									<form method="post" action="/shb/start/{{f.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% else %}
									<td class="empty-button"></td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
						<tr>
							<th id="shb-point-total" colspan="3">Current Points</th>
							<th id="shb-point-total">{{ person.current_points }}</th>
							{% if not person.locked %}
								<td></td>
								<td></td>
								<td></td>
							{% endif %}
						<tr>
							{%if not person.locked %}
								<th colspan=7 id="shb-point-total">Bench</th>
							{% else %}
								<th colspan=4 id="shb-point-total">Bench</th>
							{% endif %}
						</tr>
					{% for b in b_list %}
						<tr>
							<td class="shb-row">Bench</td>
							<td class="shb-row">{{ b.newman_instrument }}</td>
							<td class="shb-row"><a href="/shb/newman/{{ b.id }}/">{{ b.newman_name }}</a></td>
							<td class="shb-row">{{ b.points }}</td>
							<td class="shb-row">{{ b.career_points }}</td>
							{% if not person.locked %}
								<form method="post" action="/shb/remove/{{b.id}}/">
    							{% csrf_token %}
									<td class="lineup-button"><input type="submit" value="drop"/></td>
										<input type="hidden" name="next" value="{{ next }}" />
								</form>
								{% if b.woodwind and not ww_list %}
									<form method="post" action="/shb/start/{{b.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% elif b.saxophone and not sax_list %}
									<form method="post" action="/shb/start/{{b.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% elif b.highbrass and not hb_list %}
									<form method="post" action="/shb/start/{{b.id}}/">
	    							{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% elif b.lowbrass and not lb_list %}
									<form method="post" action="/shb/start/{{b.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% elif b.perc and not p_list %}
									<form method="post" action="/shb/start/{{b.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="start"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% else %}
									<td class="empty-button"></td>
								{% endif %}
								{% if not f_list %}
									<form method="post" action="/shb/flex/{{b.id}}/">
    								{% csrf_token %}
										<td class="lineup-button"><input type="submit" value="flex"/></td>
											<input type="hidden" name="next" value="{{ next }}" />
									</form>
								{% else %}
									<td class="empty-button"></td>
								{% endif %}
							{% endif %}
						</tr>
					{% endfor %}
				{% else %}
					<p>All your Newman are dead</p>
				{% endif %}
			</table>
			{% if request.user.is_staff %}
				{% if not person.locked %}
					<form action="/shb/lock_lineups/">
						<input type="submit" value="Lock Lineups"/>
					</form>
				{% else %}
					<form action="/shb/unlock_lineups/">
						<input type="submit" value="Unlock Lineups"/>
					</form>
				{% endif %}
				<form action="/shb/bank_points/">
					<input type="submit" value="Bank Points"/>
				</form>
			{% endif %}
		</div>
	</body>
</html>